@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html,
#app {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 16px;
}

body {
  padding: 0.5rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right top, #5f2c82, #49a09d);
  overflow: hidden;
}
